<!-- <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Agregar datos
</button>

 Modal 
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <form [formGroup]="datoFormClient" (submit)="newDatoCliente()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" style="display: flex; flex-direction: column">
          <label for="nombre">ID</label>
          <input type="number" id="id" formControlName="id" />

          <label for="nombre">Nombres:</label>
          <input
            type="text"
            id="nombre"
            formControlName="nombre"
            placeholder="Tu nombre.."
          />

          <label for="Direccion">Direccion:</label>
          <input
            type="text"
            id="direccion"
            formControlName="direccion"
            placeholder="Tu direccion.."
          />

          <label for="telefono">Telefono:</label>
          <input type="number" id="telefono" formControlName="telefono" />

          <label for="email">Correo Electrónico:</label>
          <input type="email" id="email" formControlName="email" />

          <label for="tipoDocumento">Tipo de documento:</label>
          <select id="tipoDocumento" formControlName="tipoDocumento">
            <option value="cc">Cédula de ciudadanía</option>
            <option value="ps">Pasaporte</option>
            <option value="ce">Cédula de extranjeria</option>
          </select>

          <label for="numeroDocumento">Numero de documento</label>
          <input
            type="text"
            id="numeroDocumento"
            formControlName="numeroDocumento"
            placeholder="Tu numero de documento.."
          />

          <label for="estado">Estado</label>
          <input type="checkbox" formControlName="estado" />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!datoFormClient.valid"
          >
            Enviar Mensaje
          </button>
        </div>
      </div>
    </div>
  </form>
</div> -->

<div class="container mt-3 p-4 mb-5">
  <h1 class="text-center">Crear Un cliente</h1>
  <form
    [formGroup]="datoFormClient"
    (submit)="crearCliente()"
    style="display: flex; flex-direction: column"
  >
    <label for="Nombre">Nombre:</label>
    <input
      type="text"
      formControlName="nombre"
      placeholder="Ingrese el nombre"
    />

    <label for="direccion">Dirección:</label>
    <input
      type="text"
      formControlName="direccion"
      placeholder="Ingrese la direccion"
    />

    <label for="telefono">Telefono:</label>
    <input
      type="number"
      formControlName="telefono"
      placeholder="Ingrese el telefono"
    />

    <label for="email">Email:</label>
    <input
      type="email"
      formControlName="email"
      placeholder="Ingrese el email del cliente"
    />

    <label for="Nombre">Tipo de Documento:</label>
    <input
      type="text"
      formControlName="tipoDocumento"
      placeholder="Ingrese el tipo de documento"
    />

    <label for="numeroDocumento">Numero de Documento:</label>
    <input
      type="text"
      formControlName="numeroDocumento"
      placeholder="Ingrese el Numero Documento"
    />

    <button class="btn btn-primary" type="submit">Crear Cliente</button>

    <button class="btn btn-danger" type="button">
      <a routerLink="./../clientes"> Cancelar</a>
    </button>
  </form>
</div>
