<hr/>
<p>services works!</p>
<div class="main-content">
    <h1>Bienvenido a nuestra página de inicio</h1>
    <p>En nuestra empresa ofrecemos los siguientes servicios:</p>

    <div class="service">
        <h2>Servicio 1</h2>
        <p>Descripción del Servicio 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus, elit nec tempor elementum, odio enim dictum tortor, nec faucibus risus lectus in nisi.</p>
    </div>

    <div class="service">
        <h2>Servicio 2</h2>
        <p>Descripción del Servicio 2. Duis vel tortor eget mauris condimentum fermentum. Integer volutpat nisi nec lectus vestibulum dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>

    <div class="service">
        <h2>Servicio 3</h2>
        <p>Descripción del Servicio 3. Cras maximus massa id mi finibus, in ullamcorper velit fringilla. Vestibulum euismod feugiat lectus nec fringilla. Fusce consectetur sapien non metus aliquam, vitae consequat tortor fermentum.</p>
    </div>
</div>
